/* http://www.hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better */
html { height: 100%; padding-bottom: 1px; }

body {
    background: black;
    color: #0f0;
    text-align: center;
    font-family: Menlo, ProFont, Monaco, monospace;
    font-size: 10pt;
}
select {
    max-width: 150pt;
}
input[type="range"] {
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
}
ul,li {
    list-style-type: none;
}
table.menu-table td:nth-child(1),
table.elevation-table td:nth-child(1) {
    text-align: end;
}
table.elevation-table td:nth-child(2) {
    text-align: end;
}
div#elevation-slider {
    height: 500pt;
    /* margin-left: 50pt; */
}
.noUi-vertical .noUi-handle {
    height: 10pt;
    bottom: -7pt;
}

.collapsible {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 3pt;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10pt;
}
.collapsible:hover {
  background-color: #555;
}
.active {
  background-color: #444;
}
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.content {
  padding: 0 1pt;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #222;
}
